{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "Attack1",
      "GroupName": "Actions",
      "Title": "Primary Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Attack2",
      "GroupName": "Actions",
      "Title": "Secondary Attack",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "Reload",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "Use",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": "Slot #1",
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": "Slot #2",
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Slot3",
      "GroupName": "Inventory",
      "Title": "Slot #3",
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "Slot4",
      "GroupName": "Inventory",
      "Title": "Slot #4",
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Inventory",
      "Title": "Slot #5",
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot6",
      "GroupName": "Inventory",
      "Title": "Slot #6",
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot7",
      "GroupName": "Inventory",
      "Title": "Slot #7",
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot8",
      "GroupName": "Inventory",
      "Title": "Slot #8",
      "KeyboardCode": "8",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot9",
      "GroupName": "Inventory",
      "Title": "Slot #9",
      "KeyboardCode": "9",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot0",
      "GroupName": "Inventory",
      "Title": "Slot #0",
      "KeyboardCode": "0",
      "GamepadCode": "None"
    },
    {
      "Name": "SlotPrev",
      "GroupName": "Inventory",
      "Title": "Previous Slot",
      "KeyboardCode": "mouse4",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "SlotNext",
      "GroupName": "Inventory",
      "Title": "Next Slot",
      "KeyboardCode": "mouse5",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "View",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Drop",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "g",
      "GamepadCode": "None"
    },
    {
      "Name": "Flashlight",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": "Scoreboard",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Ability1",
      "GroupName": "Abilities",
      "Title": "Ability 1",
      "KeyboardCode": "1",
      "GamepadCode": "None"
    },
    {
      "Name": "Ability2",
      "GroupName": "Abilities",
      "Title": "Ability 2",
      "KeyboardCode": "2",
      "GamepadCode": "None"
    },
    {
      "Name": "Ability3",
      "GroupName": "Abilities",
      "Title": "Ability 3",
      "KeyboardCode": "3",
      "GamepadCode": "None"
    },
    {
      "Name": "PlantDefuse",
      "GroupName": "Abilities",
      "Title": "Plant / Defuse",
      "KeyboardCode": "F",
      "GamepadCode": "None"
    },
    {
      "Name": "BuyMenu",
      "GroupName": "Inventory",
      "Title": "Buy Menu",
      "KeyboardCode": "B",
      "GamepadCode": "None"
    },
    {
      "Name": "Menu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "None",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "LockOn",
      "GroupName": "Abilities",
      "Title": "Lock On",
      "KeyboardCode": "L",
      "GamepadCode": "None"
    },
    {
      "Name": "Ability4",
      "GroupName": "Abilities",
      "Title": "Ability 4",
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Dodge",
      "GroupName": "Movement",
      "Title": "Dodge",
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Item1",
      "GroupName": "Inventory",
      "Title": "Item Slot 1",
      "KeyboardCode": "Q",
      "GamepadCode": "None"
    },
    {
      "Name": "Item2",
      "GroupName": "Inventory",
      "Title": "Item Slot 2",
      "KeyboardCode": "E",
      "GamepadCode": "None"
    },
    {
      "Name": "Radio",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "None"
    },
    {
      "Name": "Noclip",
      "GroupName": "Development",
      "Title": "",
      "KeyboardCode": "PAGEDOWN",
      "GamepadCode": "None"
    },
    {
      "Name": "SpectatorNext",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "None"
    },
    {
      "Name": "SpectatorPrev",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "None"
    },
    {
      "Name": "DeveloperMenu",
      "GroupName": "Development",
      "Title": null,
      "KeyboardCode": "DEL",
      "GamepadCode": "None"
    },
    {
      "Name": "Use",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "None"
    },
    {
      "Name": "SpectatorFreeCam",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "None"
    },
    {
      "Name": "SpectatorMode",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": null,
      "GamepadCode": "None"
    },
    {
      "Name": "Ping",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    }
  ],
  "__guid": "b016d1e0-7268-4c44-b7a1-4325d95856d0",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}