{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "53d4d75e-1fb9-4f0f-b1dd-b6393ef424bc",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}